{% extends 'base.html.twig' %}

{% block title %}Post will be shown{% endblock %}

{% block body %}

<h1>{{ post.title }}</h1>

{% if post.category %}
    <em>{{ post.category.name }}</em>
{% endif %}

<hr>

{% if post.image %}
    <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="{{ post.title }}" class="img-thumbnail" style="max-width: 850px;">
{% endif %}

<br><br>

<button type="button" onclick="history.back()">Go back</button> 

{% endblock %}




{# {% extends 'base.html.twig' %}

{% block title %}Post will be shown{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>
{# <em> {{ post.category }}</em>  #}
{# <em> {{ post.category.id }}</em> #}
{# {% if post.category %}
    <em>{{ post.category.name }}</em>
    <hr>
<img src="{{ asset('uploads/images/' ~ post.image) }}" alt="{{ post.title }}" class="img-thumbnail" style="max-width: 300px;">
<br><br>
<button type="button" onclick="history.back()">Go back</button> #} 
{# 
{% extends 'base.html.twig' %}

{% block title %}Post details{% endblock %}

{% block body %}
    <h1>Post details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Previous Post</h2>

    {% if previousPost %}
        <p>
            <a href="{{ path('app_post.show', {'id': previousPost.id}) }}">
                {{ previousPost.title }}
            </a>
        </p>
    {% else %}
        <p>No previous post found.</p>
    {% endif %}

    <a href="{{ path('app_post.app_post') }}">back to list</a>
{% endblock %}
 #}
{#   
{% endblock %} #}
